<footer class="footer">

  <div class="container">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div> -->

  <div class="text-muted">
        <a href="mailto:mail@mlesniak.com">Email</a>
        <a href="https://github.com/mlesniak/">GitHub</a>
        <a href="https://twitter.com/mlesniak/">Twitter</a>
        <a href="https://www.xing.com/profile/Michael_Lesniak">Xing</a>
        <a href="https://www.facebook.com/michael.lesniak.161">Facebook</a>
<!--           <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>
 -->

        <!-- </ul> -->
      </div>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->

  </div>

</footer>
