<footer class="footer">
  <div class="container">
    <span class="text-muted">
        <a href="mailto:mail@mlesniak.com">{% icon fa-envelope %}</a>
        <a href="https://github.com/mlesniak/">{% icon fa-github %}</a>
        <a href="https://twitter.com/mlesniak/">{% icon fa-twitter %}</a>
        <a href="https://www.xing.com/profile/Michael_Lesniak">{% icon fa-xing %}</a>
        <a href="https://www.facebook.com/michael.lesniak.161">{% icon fa-facebook %}</a>
        <a href="https://www.reddit.com/user/mlesniak">{% icon fa-reddit %}</a>
        <a href="https://github.com/mlesniak/mlesniak.com">{% icon fa-code %}</a>
    </span>
  </div> 
</footer>
